@model FinalProject.ViewModels.HomeVM



@{
    ViewData["Title"] = "Home Page";
}


@{
    bool isFirst = true;
}
<main>
    <section id="sld">
        <div id="slayder">
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    

                    <div class="carousel-inner">
    @foreach (var slide in Model.Sliders)
    {
        <div class="carousel-item @(isFirst ? "active" : "")">
                                <img src="~/assets/images/@slide.Image" class="d-block w-100">
        </div>
        isFirst = false;
    }
</div>



                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>


    @{
        var languages = Model.Books
        .Select(b => b.LanguageName)
        .Distinct()
        .ToList();
    }
    @foreach (var lang in languages)
    {
        <section id="crd">
            <div class="container">
                <h2>Yeni @lang nəşrləri </h2>
                <div class="row">
                    @foreach (var book in Model.Books.Where(b => b.LanguageName == lang))
                    {
                        var mainImage = book.BookImages?.FirstOrDefault(n => n.IsMain)?.Name ?? "default-image.webp";
                        var discount = book.BookDiscounts?.FirstOrDefault()?.Percentage ?? 0;
                        var discountedPrice = book.Price - (book.Price * discount / 100);

                        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                            <div class="card">
                                <div class="heart-icon">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@book.BookId">
                                    <div class="image-wrapper">
                                        <img class="card-image"
                                             src="~/assets/images/@mainImage"
                                             alt="product image" />
                                        <div class="discount-badge">
                                            @(discount + "%")
                                        </div>
                                    </div>
                                </a>
                                <div class="price-section">
                                    @($"{discountedPrice}$")
                                    <div class="old-price">@($"{book.Price}$")</div>
                                </div>
                                <div class="product-name">@book.Description</div>
                                <div class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <button class="button add-basket" data-id="@book.BookId">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    Add to basket
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

    <section id="pictures">
        <div class="container">
            <div class="row">
                @foreach(var item in Model.Pictures)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="~/assets/images/@item.Image" class="img-fluid img-hover">
                    </div>
                }

               
            </div>
        </div>



    </section>


    <section id="bloq">
        <div class="container">
            <a asp-controller="Blog" asp-action="Index"> Xəbərlər</a>
            <div class="card-wrapper">
              @foreach(var item in Model.Blogs.Take(3))
                {
                    <a class="card-blog"  asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
                        <div class="image-wrapper">
                            <img class="card-image" src="~/assets/images/@item.Imeg" alt="product image">
                            <div class="date-badge">@item.Date</div>
                        </div>
                        <div class="card-content">
                            <div class="product-name">@item.Title</div>
                            <div class="product-description">@item.Description</div>
                        </div>
                    </a>

                }

            </div>
        </div>
    </section>


    <section id="brands">
        <div class="container">
            <div class="brands-grid">
               @foreach(var item in Model.Brands)
               {
                    <img src="~/assets/images/@item.Image" class="brand-logo" alt="Funko">
               }
                
            </div>
        </div>
    </section>

    <section id="products">
        <div class="container">
            <div class="row g-4">

               @foreach(var item in Model.Pictures)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <a href="#"><img src="~/assets/images/@item.Image" class="product-img"></a>
                    </div>
                }

               

            </div>
        </div>
    </section>

    <section id="bloq">
        <div class="container">
            <a asp-controller="NewsBlog" asp-action="Index"> "Əli və Nino" Kitab Klubu</a>
           
            <div class="card-wrapper">
                @foreach(var item in Model.NewsBlogs)
                {
                    <a class="card-blog" asp-controller="NewsBlog" asp-action="Detail" asp-route-id="@item.Id">
                        
                        <div class="image-wrapper">
                            <img class="card-image" src="~/assets/images/@item.Imeg" alt="product image">
                            <div class="date-badge">@item.Date</div>
                        </div>
                        <div class="card-content">
                            <div class="product-name">@item.Title</div>
                            <div class="product-description">@item.Description</div>
                        </div>
                    </a>

                }

            </div>
            
        </div>
    </section>

    <section id="info">
        <div class="container">
            <div class="title">
                <h3>Bakıda kitabı haradan almaq olar?</h3>
            </div>
            <p>Alinino.az internet kitab mağazası kitabsevənlər üçün rahat servis xidməti göstərir. Əgər siz kitab almaq istəyirsinizsə, bu işdə bizim saytımız sizə yardımçı ola bilər. Saytda</p>
            <p>müxtəlif janrlarda kitablar, ensiklopediyalar, klassik əsərlər, belletristika, müasir və elmi bədii əsərlər təklif olunur.</p>
            <p>Kitab mağazası Bakıda hər kəs üçündür.</p>
            <p>Demək olar ki, hər biriniz sizə lazım olan kitabı hardan almaq problemi ilə üzləşmisiniz. Əvvəllər, bir kitabı almaq üçün bir neçə kitab mağazasına baş çəkmək</p>
            <p>məcburiyyətində qalırdınız. İndi isə, hər şey daha asandır. Onlayn mağazadan istədiyiniz kitabı əlverişli qiymətə əldə etmək imkanını yaradırıq.</p>
            <p>Kitab almaq qərarına gəldikdən sonra, siz onu Bakının istənilən yerindən sifariş edə bilərsiniz, kuryer aldığınız malı göstərilən ünvana qısa zamanda çatdıracaq. Sifariş etmək</p>
            <p>üçün, sizin kitabı seçib “Tıkla al” düyməsinə basmağınız yetərlidir. Bu cür alış-verişin üstünlüyü – evdən vəya iş yerinizdən ayrılmadan, isdəyiniz kitabı tapmaqda vaxt</p>
            <p>itirmədən əldə etməkdir.</p>
            <p>Əgər siz internet mağazalara güvənmirsinizsə, vəya kitabı mağazadan özünüz seçib, əldə tutub vərəqlədikdən sonra əldə etmək istəyirsinizsə, o zaman bizim</p>
            <p>mağazalarımizdan birinə gələ bilərsiniz.</p>

            <div class="title">
                <h3>Bakıda kitabı necə sifariş etmək olar?</h3>
            </div>
            <p>Yeni texnologiyaların inkişafı ilə, yaşayış yeri iş və təhsildə böyük rol oynamır. Artıq bir çox insanlar meqapolisin səs-küyündən qaçaraq şəhər kənarı evlərdə yaşamağa</p>
            <p>üstünlük verirlər. Hətta belə hallarda belə internet mağazadan kitab almaq problem deyil, çünki mağaza bütün Bakı və Azərbaycan ərazisində fəaliyyət göstərir. Müxtəlif</p>
            <p>janrlarda istədiyiniz kitabı indi çox asanlıqda, evdən bayıra çıxmadan sifariş edə bilərsiniz. Mağazamızda istədiyiniz dildə kitablar – azərbaycan, rus, ingilis, türk dilində</p>
            <p>kitablar, uşaq ədəbiyyatı, bədii ədəbiyyat, detektivlər, klassik əsərlər, romanlar, biznes kitabları, lüğətlər, memarlıq haqqında kitablar, tarixi, hüquq kitabları, dəbə aid kitablar,</p>
            <p>kulinariya, uşaq tərbiyəsi, tibbi, psixologiya, ezoterika, dini, əl işləri, turizm, filosifiya, elmi-kütləvi ədəbiyyəta aid kitablar var. Bizim mağazamızdan istədiyiniz – fantastikadan</p>
            <p>tutmuş, elmi ədəbiyyata kimi kitabları əldə edə bilərsiniz.</p>
            <p>Kitab almaq heç belə asan olmamışdı. İndi siz nəinki vaxt itirmədən kitab əldə edə biləcəksiniz, həm də mağazamız tərəfindən keçirilən müxtəlif aksiyalar və ya endirimlər,</p>
            <p>50 % endirimli kitablar və hətta 1 manata olan kitabları da əldə edə biləcəksiniz. İndi siz çox asanlıqla elektron kataloqdan istifadə etməklə istədiyiz kitabı seçə, kitab</p>
            <p>annotasiyasını və kitab haqqında digər oxucuların yazdığı rəyləri oxuya bilərsiniz. Siz əmin ola bilərsiniz ki, sifarişi aldıqdan sonra məyus olmayacaqsınız – siz istədiyiniz</p>
            <p>kitabı əldə etmiş olacaqsınız.</p>
            <p>Mağazamızda kitablarla yanaşı hədiyyələr, elektronik mallar, oyuncaqlar, pazllar, məktəb üçün ləvazimatlar, ətriyyat, A.Salamaxinanın yaylığları və milli kəlağayıları da əldə</p>
            <p>edə bilərsiniz.</p>
            <div class="title">
                <h3>Russiya, Amerika və Avropaya kitab sifariş etmək olar?</h3>
            </div>
            <p>Xarici ölkədə yaşasanız da bizim mağazamızdan internet ilə azərbaycan kitabları və milli suvenirləri ala bilərsiniz. Bu rus dilində və digər dillərdə olan kitablara da aiddir.</p>
            <p>Azərbaycan dilində olan kitabları biz özümüz tərcümə edib nəşr edirik.</p>
            <p>Sifariş etdiyiniz kitabı, ödəniş edildiyi gündən bir gün sonra istədiyiniz ölkəyə göndərə bilərik. Siz sifarişlərinizi 3-12 gün arası ala bilərsiniz.</p>
            <p>Azərbaycanın rayonlarından necə sifariş edə bilərik?</p>
            <p>Əgər siz Azərbaycanda yaşayırsınızda kitab sifariş etmək sizin üçün çox asan olacaq. 15 illik iş təcrübəsində biz işimizin peşəkarı olmuşuq. Sifarişinizi xüsusi ödənişlə</p>
            <p>Ağstafa, Naxçıvan, Gəncə, Şamaxı, Lənkəran, Zaqatala, Quba, Qəbələ, Gədəbəy, Mingəçevir və digər şəhərlərə çatdırırıq. Siz ödənişi kitabı aldıqdan sonra edirsiniz.</p>
            <p>Alinino.az internet mağazamızdan kitab əldə etmək hər zaman rahat və əlverişlidir.</p>

        </div>
    </section>

    <section id="autors">
        <div class="image-row">
           @foreach(var item in Model.SlayderAutors)
            {
                <div class="author-img"><img src="~/assets/images/@item.Image" alt="Lev"></div>

            }
        </div>
    </section>

    </div>
    </div>
</main>